<ul>
  <li>Set lat/lng on HTML tags</li>
  <li>Name the map DIV with id='map', or use the map setting in the js call</li>
  <li>Optional map attribute on HTML tags will put it on that map</li>
  <li>Optional lat & lng attributes in js call (must include both)</li>
  <li>Optional zoom attribute in js call</li>
  <li>Optional controls attribute in js call: none, min, all (default), all_small<li>
  <li>CSS styles in default.css can be overridden to control map_prompt display, map_focus.  Make sure the overriding style is either on the page, or linked after the script.<li>
  <li>Optional position attribute for popup hover: can be ne, se, sw, nw</li>
  <li>Optional marker_icon attribute: blue_pushpin, green_pushpin, orange_pushpin, red_pushpin, goroam</li>
  <li>Other output formats: xml, rss, json</li>
</ul>
