<h2>Want to put a map on your web page?  It's as easy as <a href='/howto'>1-2-3</a>:</h2>
<ol class='steps'>
	<li>
		<a href='/step1'>
			<h3>1.</h3>
			<img src='/images/step1.gif' alt='Step 1' /><br />
			<h4>Get the code.</h4>
		</a>
	</li>
	<li>
		<a href='/step2'>
			<h3>2.</h3>
			<img src='/images/step2.gif' alt='Step 2' /><br />
			<h4>Find the Latitude/Longitude.</h4>
		</a>
	</li>
	<li>
		<a href='/step3'>
			<h3>3.</h3>
			<img src='/images/step3.gif' alt='Step 3' /><br />
			<h4>Add it to your page.</h4>
		</a>
	</li>
</ol>
<p style='clear: both;'>
Do you want to put a map on your web page or blog but don't have time to figure it out?  Here at GoRoam, we know a lot about online maps - so you don't have to.  We want to make mapping as easy as possible for you and now we're offering this GoRoam Geomapper so you can take advantage of our expertise.  You can get an interactive map on your web page in just 5 minutes by following our easy <a href='/howto'>How-To Instructions</a>.  What are you waiting for?  Go out there and start mapping!
</p>
