<% @page[:title] = "Add Maps to Your Page : Step 2 - Find the Latitude/Longitude" %>
<h2>Add Maps to Your Page: Step 2 - Find the Latitude/Longitude</h2>
<p>
	For each item (an image, a link, any text) you want to place on the map, you need to know the latitude and longitude where it should go.  You can get the lat/lng any way you would like, but the most common way is to either use a GPS or our <a href='/search'>geopoint search page</a>. NEW FEATURE: With our latest version, you can now <a href='http://help.goro.am/api-reference/addr-attribute'>use 'addr' instead of lat/lng to tag HTML tags with a real-language address</a>.
</p>
<p>
	One thing to keep in mind when finding the lat/lng with a tool other than our <a href='/search'>geopoint search page</a>: we use lat/lng measured in degrees with minutes as the decimal part of the degree.  Latitudes north of the Equator are positive and south of the Equator are negative; longitudes east of the Prime Meridian are positive and west of the Prime Meridian are negative.  An example (lat, lng) pairing in North America - north of the Equator and west of the Prime Meridian - is: (41.5, -74.2).
</p>
<p>
	In the <strong>HTML code</strong> of your web page, add the lat and lng inside the HTML tags.  Remember: if you are using an HTML formatting tool such as a blog editor, you should switch to edit the HTML directly.  Here are some examples of how to tag HTML items with the lat/lng <span class='highlight_color'>(41.5, -74.2)</span>:
	<code>
	&lt;img <strong class='highlight_color'>lat='41.5' lng='-74.2'</strong> src='http://geo.goro.am/images/logo.gif' alt='GoRoam Logo' /&gt;<br />
	&lt;a <strong class='highlight_color'>lat='41.5' lng='-74.2'</strong> href='http://goro.am/'&gt;GoRoam Homepage&lt;/a&gt;<br />
	&lt;p <strong class='highlight_color'>lat='41.5' lng='-74.2'</strong> title="Today's Blog Post"&gt;I was walking down the road here...&lt;/p&gt;<br />
	&lt;div <strong class='highlight_color'>lat='41.5' lng='-74.2'</strong> title="Today's Blog Post"&gt;I was walking down the road here...&lt;/div&gt;<br />
	</code>
</p>
<p>
	After tagging all of your items with the lat/lng, you are ready to move on to <a href='/step3'>Step 3</a>.
</p>
<p>
	See also: how to do <a href='http://help.goro.am/tutorials/step-2' target='_blank'>step 2 on popular sites</a>.
</p>
<div class='center'>
	<a href='/step1'>Previous</a> : <a href='/step3'>Next</a><br /><br />
	<a href='/howto'>Start</a> : <a href='/step1'>Step 1</a> : <span class='disabled_link'>Step 2</span> : <a href='/step3'>Step 3</a>
</div>

