<div class='header'>
	<div class='logo'><a href='/'><img src='/images/logo.gif' alt='GoRoam' /></a></div>
	<div class='title'><a href='/'><span class='dark_color'>GO</span><span class='light_color'>ROAM</span></a></div>
  <div class='subtitle'><%= Constant::get(:powered_by_text) %></div>
</div>
